/*
Ranges:
    - 0-600px: phones
    - 600-900px: tablet portraint
    - 900-1200px: tablet landscape
    - [1200-1800px] desktop
    - 1800- ++: big desktops
*/
.u-small-text {
  font-size: 1.5rem; }

.u-medium-text {
  font-size: 2rem; }
  @media (max-width: 600px) {
    .u-medium-text {
      font-size: 1.5rem; } }

.u-big-text {
  font-size: 4rem; }
  @media (max-width: 600px) {
    .u-big-text {
      font-size: 2.5rem; } }

.u-font-size-default {
  font-size: 2.5rem; }
  @media (max-width: 600px) {
    .u-font-size-default {
      font-size: 1.5rem; } }

.u-padding-default {
  padding: 48px; }
  @media (max-width: 600px) {
    .u-padding-default {
      padding: 16px 8px; } }
  @media (max-width: 900px) {
    .u-padding-default {
      padding: 30px 16px; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*order MATTERS!! if width = 700px...
  then both tab-land and tab-port are valid (since width is smaller than both).
  to have the right result, we have to place the one with higher priority in the end.
  Since the ranges are:
    - 0-600px
    - 600-900px <--
    - 900-1200px
    We want the second range to apply, that is tab-port
    (which should have higher priority than tab-land)
*/ }
  @media (max-width: 1200px) {
    html {
      font-size: 56%; } }
  @media (max-width: 600px) {
    html {
      font-size: 30%; } }
  @media (max-width: 900px) {
    html {
      font-size: 50%; } }
  @media (min-width: 1800px) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #FBFBFB; }
  @media (max-width: 600px) {
    body {
      padding: 0px; } }

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all .5s ease; }

.reveal.active {
  transform: translateY(0px);
  opacity: 1; }

body {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.5;
  color: #201A23; }

h5 {
  font-size: 3.5rem;
  font-weight: 500; }
  @media (max-width: 600px) {
    h5 {
      font-size: 2rem; } }

h3 {
  font-size: 4rem;
  font-weight: 700; }
  @media (max-width: 600px) {
    h3 {
      font-size: 2.5rem; } }

h1 {
  font-size: 6rem;
  line-height: 1.7;
  font-weight: 700; }
  @media (max-width: 600px) {
    h1 {
      font-size: 3.5rem; } }

p {
  font-size: 2.5rem; }
  @media (max-width: 600px) {
    p {
      font-size: 1.5rem; } }

section {
  height: 100vh; }

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 8px 0px;
  background-color: #6C5775;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }
  .section-header .title {
    margin-top: -24px;
    letter-spacing: 1px;
    color: #FBFBFB;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.308); }
  .section-header .subtitle {
    letter-spacing: 1.5px; }

.section-socials {
  padding-top: 32px; }
  .section-socials .socials__btn-link {
    font-style: italic;
    text-decoration: none;
    color: #FBFBFB;
    text-shadow: 1px 0px rgba(0, 0, 0, 0.089); }

.section-title {
  margin: 16px 0px 48px 0px;
  color: #6C5775;
  text-align: center;
  letter-spacing: 1px; }
  .section-title--white {
    color: #fff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.308); }

.section-aboutme {
  background-color: #FBFBFB;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-aboutme .aboutme__content {
    padding-bottom: 32px;
    text-align: center; }
  .section-aboutme .aboutme__text {
    letter-spacing: 1px; }

.section-projects {
  background-color: #6C5775;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-projects .project {
    background-color: rgba(255, 255, 255, 0.932);
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: 80%; }
    @media (max-width: 900px) {
      .section-projects .project {
        flex-direction: column;
        align-items: center;
        margin: 0px 8px;
        width: 100%; } }
    .section-projects .project .half-section {
      width: 50%; }
      @media (max-width: 900px) {
        .section-projects .project .half-section {
          width: 90%; } }
      .section-projects .project .half-section--1 {
        margin: 60px; }
        @media (max-width: 900px) {
          .section-projects .project .half-section--1 {
            margin: 16px 0px; } }
      .section-projects .project .half-section--2 {
        margin: 60px 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 100px; }
        @media (max-width: 900px) {
          .section-projects .project .half-section--2 {
            margin: 8px;
            padding-bottom: 10px; } }
    .section-projects .project .project__img {
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
      max-width: 100%;
      max-height: 100%;
      border-radius: 10px; }
    .section-projects .project .project__title {
      color: #6C5775;
      padding-bottom: 8px;
      letter-spacing: 1px;
      text-decoration: underline; }
    .section-projects .project .project__description {
      letter-spacing: 1px; }
    .section-projects .project .project__technology {
      letter-spacing: 1px;
      padding-bottom: 16px;
      padding-top: 8px; }
    .section-projects .project .project__btn {
      background-color: #DDC292;
      padding: 5px 10px;
      width: fit-content;
      box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.2);
      margin: 8px auto;
      border-radius: 2px; }
      .section-projects .project .project__btn-link {
        text-decoration: none;
        color: #FBFBFB;
        text-shadow: 1px 0px rgba(0, 0, 0, 0.089); }

.section-footer {
  background-color: #FBFBFB;
  padding: 16px; }
  .section-footer .footer__text {
    padding-top: 16px;
    text-align: center; }
