.section-footer {
    background-color: $light-color;
    padding: 16px;
  
    .footer__text {
      padding-top: 16px;
      text-align: center;

      .developed-in {
        font-style: italic;
        font-size: 9px;
      }
    }

}