.polaroid {
    box-shadow: $default-box-shadow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 24px;
    //External: 54mmx86mm
    width: 270px; 
    min-width: 270px;
    height: 430px; 

    &-img {
      //Internal: 46mmx62mm
      background-color: pink;
      width: 230px; 
      min-width: 230px;
      height: 310px; 
      object-fit: cover;
    }
  }