body {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.5;
  color: $dark-color;
}

//bigger number = smaller title
h5 {
  font-size:  3.5rem;
  font-weight: 500;

  @include respond(phone) { //width < 600px
    font-size:  2rem;
  }

}

h3 {
  font-size:  4rem;
  font-weight: 700;

  @include respond(phone) { //width < 600px
    font-size:  2.5rem;
  }
}

h1 {
  font-size:  6rem;
  line-height: 1.7;
  font-weight: 700;

  @include respond(phone) { //width < 600px
    font-size:  3.5rem;
  }
}

p {
  font-size:  $default-font-size;

  @include respond(phone) { //width < 600px
    font-size:  1.5rem;
  }
}
