.CalculatorField {
    height: 50px;
    background-color: rgb(255, 252, 241);
    border: 2px solid black;
    border-radius: 10px;
    padding: 0px 8px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.field-text {
    font-size: 2rem;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}