.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 8px 0px;
  background-color: $tertiary-color-light;
  height: 85vh;
  box-shadow: $default-box-shadow;

  .title {
    margin-top: -24px;
    letter-spacing: 1px;
    color: $light-color;
    text-shadow: $default-text-shadow;
  }

  .subtitle {
    letter-spacing: 1.5px;
  }
}

.section-socials {
  padding-top: 32px;

  .socials__btn {
    &-link {
      font-style: italic;
      text-decoration: none;
      color: $light-color;
      text-shadow: $default-btn-text-shadow;
    }
  }
}

.section-title {
  margin: 16px 0px $default-section-padding 0px;
  color: $tertiary-color-light; //white;
  text-align: center;
  letter-spacing: 1px;

  &--white {
    color: $white-color;
    text-shadow: $default-text-shadow;
  }
}

.section-aboutme {
  background-color: $light-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  .aboutme__content {
    padding-bottom: 32px;
    //border: 2px solid $secondary-color-light;
    text-align: center;
  }

  .aboutme__text {
    letter-spacing: 1px;
  }
}

.section-projects {
  background-color: $tertiary-color-light;
  //box-shadow: $default-box-shadow;
  display: flex;
  flex-direction: column;
  align-items: center;

  .project {
    background-color: rgba(255, 255, 255, 0.932);
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    //box-shadow: $default-box-shadow;
    border-radius: 10px;
    width: 80%;

    @include respond(tab-port) { //width < 900px
      flex-direction: column;
      align-items: center;
      margin: 0px 8px;
      width: 100%;
    }

    .half-section {
      width: 50%;

      @include respond(tab-port) { //width < 900px
        width: 90%;
      }

      &--1 {
        margin: 60px;

        @include respond(tab-port) { //width < 900px
          margin: 16px 0px;
        }
      }

      &--2 {
        margin: 60px 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 100px;

        @include respond(tab-port) { //width < 900px
          margin: 8px;
          padding-bottom: 10px;
        }
      }
    }

    .project__img {
      box-shadow: $default-box-shadow;
      max-width: 100%;
      max-height: 100%;
      border-radius: 10px;
    }

    .project__title {
      color: $tertiary-color-light; // white;
      padding-bottom: 8px;
      letter-spacing: 1px;
      text-decoration: underline;
    }

    .project__description {
      letter-spacing: 1px;
    }

    .project__btn {
      background-color: $secondary-color-light;
      padding: 5px 10px;
      width: fit-content;
      box-shadow: $default-btn-shadow;
      margin: 8px auto;
      border-radius: 2px;

      &-link {
        text-decoration: none;
        color: $light-color;
        text-shadow: $default-btn-text-shadow;
 
      }
    }
  }
}

.section-footer {
  background-color: $light-color;
  padding: 16px;

  .footer__text {
    padding-top: 16px;
    text-align: center;
  }
}